<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />-->
    <section
			name="castle"
			type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility
          id="logging"
          type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
          loggingApi="log4net" />
    </facilities>
    <components>

      <!--
      Data access components used by fetch controller
      -->
      <!--<component id="databaseaccessor.server"
                 service="rrd4n.DataAccess.Interface.RrdDbAccessInterface,rrd4n.DataAccess.Interface"
                 type="rrd4n.DataAccess.ServerFile.ServerAccessor, rrd4n.DataAccess.ServerFile"
                 lifestyle="singleton">
        <parameters>
          <FileServerUrl>tcp://localhost:8100/GetRrdDbAdapter</FileServerUrl>
        </parameters>
      </component>-->

      <component id="databaseaccessor.local"
                 service="rrd4n.DataAccess.Interface.RrdDbAccessInterface,rrd4n.DataAccess.Interface"
                 type="rrd4n.DataAccess.LocalFile.FileAccessor, rrd4n.DataAccess.LocalFile"
                 lifestyle="singleton">
        <parameters>
          <DataPath></DataPath>
        </parameters>
      </component>

      <!--
      Data model wrapping the rrddb database
      -->
      <!--<component id="model" type="RRDConfigTool.Data.Model, RRDConfigTool" inspectionBehavior="none" lifestyle="singleton" />-->

      <!--
      Views
      -->
      <!--<component id="mainform" type="RRDConfigTool.MainForm, RRDConfigTool" inspectionBehavior="none" lifestyle="transient" />
      <component id="datasourceform" type="RRDConfigTool.NewDatasourceForm, RRDConfigTool" inspectionBehavior="none" lifestyle="transient" />
      <component id="archiveform" type="RRDConfigTool.NewArchiveForm, RRDConfigTool" inspectionBehavior="none" lifestyle="transient" />
      <component id="fetchform" type="RRDConfigTool.FetchDataForm, RRDConfigTool" inspectionBehavior="none" lifestyle="transient" />
      <component id="graphform" type="RRDConfigTool.GraphForm, RRDConfigTool" inspectionBehavior="none" lifestyle="transient" />-->
      <!--
      Controllers
      -->
      <!--<component id="controller.view" type="RRDConfigTool.Controllers.ViewController, RRDConfigTool" >
        <parameters>
          <dbAccess>${databaseaccessor.local}</dbAccess>
        </parameters>
      </component>-->

      <!--<component id="controller.datasource" type="RRDConfigTool.Controllers.DataSourceController, RRDConfigTool" />
      <component id="controller.archive" type="RRDConfigTool.Controllers.ArchiveController, RRDConfigTool" />
      <component id="controller.fetch" type="RRDConfigTool.Controllers.FetchDataController, RRDConfigTool" />
      <component id="controller.graph" type="RRDConfigTool.Controllers.GraphController, RRDConfigTool" >
        <parameters>
          <dbAccess>${databaseaccessor.local}</dbAccess>
        </parameters>
      </component>-->

    </components>
  </castle>

</configuration>