<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rrdbfileserver" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <rrdbfileserver>
    <add key="databasepath" value="C:\Documents and Settings\Mikael Nilsson\Application Data\Datalogger\Data\"/>
    <add key="port" value="8100"/>
  </rrdbfileserver>

  <!--<system.runtime.remoting>
    <customErrors mode="off"/>
  </system.runtime.remoting>-->
  
</configuration>